extends ../main-template.pug
include ../modules/mixins.pug

block variables
  - var title = 'Обо мне'
  - var pageName = 'about'

block content
  section.section.hero
    header.hero__header
      .hero__socials
        include ../modules/socials
      .hero__hamburger-menu
        include ../modules/hamburger-menu
    .hero__content
      .hero__title  
        svg(width='100' height='100').section-picture.section-picture_hero
          use(xlink:href=`images/sprite/mySprite.min.svg#portfolio_header`)
        .hero__whoami
          include ../modules/whoami
    .hero__bottom
      button.arrow-down
        svg.arrow-down__icon(width=`26` height=`16`)
          use(xlink:href=`images/sprite/mySprite.min.svg#arrow_down`)
  section.section.about
    svg.triangle.triangle_fill_begie(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='0,0 0,100 500,100')
    svg.triangle.triangle_fill_white(viewbox="0 0 1000 100" preservAspectRatio="none")
        polygon(points='500,100 1000,0 1000,100')
    .about__left  
      .about__title
        svg(width='100' height='100').section-picture
          use(xlink:href=`images/sprite/mySprite.min.svg#about_header`)
        .section-title.section-title_about Обо мне
      .about__i-am
        img(src="images/photos/about-photo.jpg", alt="photo").i-am__photo
        .i-am__title  
          .section-title.section-title_i-am Кто я 
        .i-am__discription
          p Я веб разработчик из Новосибирска. Мне 27 лет. Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
          p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,как тут всё классно и красиво!

    .about__right
      
      .about__usefulness
        .usefulness
          .usefulness__title
            .section-title.section-title_usefulness Чем я могу быть вам полезен 
          .usefulness__discription
            p Больше всего меня привлекет Frontend разработка, но я также знаком и могу решать не сложные задачи на Backend. Но давайте по порядку.
      .about__skills
        ul.skills-list
          - 
            var skills = [
              {name: 'Frontend',skills:['Html5', 'css3', 'JavaScript']},
              {name: 'Backend',skills:['PHP', 'mySQL', 'Node.js & npm','Mongo.db']},
              {name: 'WorkFlow',skills:['Git','Gulp','Bower']}
            ]
          each item in skills
            li.skills-list__item.skills-row
              .skills-row__title #{item.name}
              ul.skills-row__list
                each skill in item.skills
                  li.skills-row__item.svg-circle
                    svg(width='110' height='110' viewBox="0 0 110 110").svg-circle__body
                      circle(r="45" cx="50%" cy="50%").svg-circle__first-border
                      circle(r="45" cx="50%" cy="50%" transform="rotate(-90 55 55)").svg-circle__second-border.circle-90
                    .svg-circle__title #{skill}
  section.section.map
    #map
    .map__contacts
      .contacts
        .contacts__title
          .section-title.section-title_contacts Контакты
        ul.contacts__list
          - 
            var contacts = [
            {logo: 'skype', name: 'skype_kdn' },
            {logo: 'envelope2', name: 'astahov@gmail.com' },
            {logo: 'phone2', name: '+7 931 200 93 24' },
            {logo: 'map_marker', name: 'Новосибирск, ул. Инская, д.14' }
            ]
          each item in contacts
            li.contacts__item
              svg.contacts__icon(width=`24` height=`24`)
                use(xlink:href=`images/sprite/mySprite.min.svg#${item.logo}`)
              .contacts__name #{item.name}

    footer.footer
      .footer__row
        .footer__col
          .footer__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. 
        .footer__col
          .footer__menu
            - 
              var menu = [
                  {name: 'Главная страница', href:'index.html'},
                  {name:'работы',href: 'my-works.html'},
                  {name:'Обо мне',href: 'about.html'},
                  {name:'Блог',href: 'blog.html'}
              ]
            
            +menu('menu', menu)
          .footer__socials
            include ../modules/socials
        .footer__col
          .footer__quote Всегда пишите код так, будто сопровождать его будет склонный к насилию психопат, который знает, где вы живете.
          .footer__quote-author — Martin Golding 
      .footer__row.footer__row_fill_green
        .author © Александр Исаев | создано с любовью в LoftSchool | 2017
  
  
block scripts
  script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAxxZqzF80hXY_JqmWpdGliR9OG45V5WrM&callback=initMap"
  type="text/javascript")
  script(src=`./scripts/${pageName}.min.js`)
