section.section.preloader
    .preloader__animation

        svg(version="1.1" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid" width="180" height="180" viewBox='0 0 36 36')
            circle(opacity="0.6" fill="none" stroke="#4e8839" stroke-width="8" cx="18" cy="18" r="14")
            circle(cx="14" cy="4" r="4" fill="#6c9d5a")
                animateTransform(
                    type="rotate" 
                    accumulate="none" 
                    attributeName="transform" 
                    dur=".8s" 
                    from="0 18 18" 
                    to="360 18 18" 
                repeatCount="indefinite")
                
        
        